

.navbar{
    text-align: right;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color:#f1ea92 ;
    height:5em ; 
}
.topnav{
    display: flex;
    float: left;
     align-items: center; 
}
.contentnav{
    display: flex;
    flex-wrap: row;
    align-items: center;
}
.media{
    display: flex;
    flex-wrap: row;
    align-items: center;
}
.contentnav a:hover{
    background-color: #ddd;
    
}
.media a i:hover{
    color: rgb(93, 122, 200);
}
.home{
    margin-left: 13em;
    font-size:larger;
}
.about{
    margin-left:2em;
    font-size:larger;
}
.contact{
    margin-left:2em;
    font-size:larger;
    position: relative;
    display: inline-block;
}
  
 .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    text-align: left;
    font-family:serif;
    line-height: 25px;;
    font-size: 15px;
  } 
   
.contact:hover .dropdown-content {
    display: block;
  }
.review{
    margin-left:2em;
    font-size:larger;
}
.trailer{
    margin-left:2em;
    font-size:larger;
}
.icon{
    font-size: 3em;
    float: left;
    margin-left:3em;
    margin-bottom:0.1em;
}
.logo{
    font-size: 1.3em;
    font-weight: 100;
    font-family: cursive;
    margin-top: 2em;
    float: left;
}
.navsearch{
  width:20em;
  height:2.6em;
  border: 1px solid #ccc;
  border-radius: 0.4em;
  margin-right:0.4em;
  margin-left: 1.2em;
}
.searchbar {
    position: relative;
  }
.fa-search {
    position: absolute;
    top: 30%;
    right: 20px;
    color: #8c8080;
  }
input::placeholder{
    padding: 15px;
    font-size: larger;
}
.searchfilter{
    width:4em;
    margin-right:4em ;
    margin-left:1em;
}
.navbutton{
    display:inline-block;
    align-items: center;
    justify-content: space-evenly;
    height: 36px;
    width:30px;
    margin-right:10em ;
}
.searchfilter i{
    color: #ccc;
    border-radius: 1em;
    color:black ;
}
.navbutton i{
    color: #ccc;
    border-radius: 1em; 
    color: black;
}
.category-option{
    border:1px solid black;
    width:5.3em;
    height: 2em;
    text-align: center;
    background-color: white;
    padding: 8px 0px 0px 0px;
    cursor: inherit ;
}
.main{
 display: flex;
 flex-direction: column;
 justify-content: center;
    align-items: center;
}
.trailercard{
    display: flex; 
    width: 50em;
    height: 45em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 10px 0px;
    margin:2em;
    padding: 2em;
}
h1{
    color: #0080e8;
    font-family: 'Work Sans', sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 46px;
    text-transform: none;
    text-align: justify;
}
.details{
    display: flex;
    flex-direction: row;
}
.readmore {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.readmore:hover,
.readmore:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.readmore:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.readmore:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

